body {
    font-family: Arial, sans-serif;
    background-color: #f1dff2;
    padding: 30px;
    p { max-width: 75ch };
   
}

h1 {
    color: #333;
    text-align: center;
}

article {
    background-color: #e3c6defa;
    padding: 15px;
    margin: 15px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

h2 {
    color: #555;
    font-size: medium;
}

p {
    color: #666;
    line-height: 1.6;
    
}

code {
    font-family: Consolas;
    background-color: #000000;
    padding: 2px 4px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}

footer{
    padding: 0.5%;
    text-align: center;
}
